/* Estilo general */
body {
    background-color: black;
    color: #39ff14; /* Verde fosforescente */
    font-family: 'Courier New', monospace;
    margin: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

textarea {
    width: 80%;
    height: 100px;
    padding: 10px;
    font-size: 1rem;
    background-color: black;
    color: #39ff14;
    border: 2px solid #39ff14;
    border-radius: 5px;
    resize: none;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border: 2px solid #39ff14;
    border-radius: 5px;
    background-color: black;
    color: #39ff14;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #39ff14;
    color: black;
}

button:active {
    background-color: #00ff00; /* Verde brillante al hacer clic */
    border-color: #00ff00;
    transform: scale(0.95); /* Efecto de contracción al hacer clic */
}

/* Contenedor para el botón "Copiar" */
.copy-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#copy {
    margin: 0 auto; /* Centrar el botón */
}

/* Estilo para el contenedor del logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container svg {
    width: 150px; /* Ajusta el tamaño según sea necesario */
    height: 150px;
}